@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1 id="title">@ViewBag.Title</h1>

    <section>
        <h2>Get in Touch</h2>
        <p>If you have any questions or need further information, please feel free to contact us:</p>
        <ul>
            <li>Email: <a href="mailto:2422331213@qq.com">2422331213@qq.com</a></li>
            <li>Phone: <a href="tel:+8618618135040">18618135040</a></li>
        </ul>
    </section>
</main>